/*comentario para pushear
*/

.recipesContainer {
  min-height: 120vh;
}

.recipeImage {
  height: 20rem;
}

.menuBtn > a {
  background-color: #DA291C;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.menuBtn > div {
  background-color: #DA291C;
  color: white !important;
}

.ddItem:hover {
  background-color: grey;
}

.menuList {
  background-color: #DA291C;
  color: white;
  border-radius: 5px;
}

.menuList > li {
  list-style: none;
  padding: 1rem .2rem;
  width: 10rem;
}

.menuList > li:last-child {
  margin-left: -1.5rem;
}

.active {
  display: block;
  margin-top: -1.4rem;
  z-index: 1000;
  position: absolute;
  left: 7rem;
}

.hidden {
  display: none;
  z-index: 1000;
  position: absolute;
  left: 2rem;
}

.actionsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.cardsWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 4rem 0;
}

/* RECIPE (singular xd) */
.cardContainer {
  width: 40%;
  margin: 1rem;
  border: none;
}

.recipeLink, .recipeLink:hover {
  color: rgb(33, 37, 41);
}

.links, .links:active {
  color: white;
  list-style: none;
  margin-top: 1rem;
}

.links:hover {
  color: white;
  text-decoration: none;
}


@media (min-width: 320px) and (max-width: 768px) {
  .cardContainer {
    width: 100%;
  }

  .recipeImage {
    height: auto;
  }

  .menuList {
    left: 2rem;
    top: 17rem;
  }
}

/* @media (min-width: 375px) and (max-width: 424px) {
  .actionsContainer {
    width: 94%;
  }
}

@media (min-width: 425) and (max-width: 425px) {
  .actionsContainer {
    width: 94%;
  
  }
} */
