.recipesContainer {
  min-height: 120vh;
}

.menuBtn {
  background-color: #DA291C;
  color: white;
  border: none;
  padding: 0rem 4rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  max-height: 3rem;
}

.menuBtn>.chevron {
  font-size: 2rem;
}

.menuList {
  background-color: #DA291C;
  color: white;
  border-radius: 5px;
}

.menuList>li {
  list-style: none;
  padding: 1rem .2rem;
  width: 10rem;
}

.menuList>li:last-child {
  margin-left: -1.5rem;
}

.active {
  display: block;
  margin-top: -1.4rem;
  z-index: 1000;
  position: absolute;
  left: 7rem;
}

.hidden {
  display: none;
  z-index: 1000;
  position: absolute;
  left: 2rem;
}

.actionsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0rem 7rem;
}

.cardsWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.cardsContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* RECIPE (singular xd) */
.cardContainer {
  width: 40%;
  margin: 1rem;
}

.links, .links:hover {
  color: white; 
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .cardContainer {
    width: 100%;
  }

  .cardsContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}
