.searchBarContainer {
  display: flex;
  height: 2rem;
  align-items: center;
}

.searchBar {
  padding: .2rem;
  padding-left: 1rem;
}

.searchResultsContainer {
  position: absolute;
}

.iconBg {
  background-color: #DA291C;
  width: 3rem;
}