/*
comentario para pushear
*/

.bgColor {
  background-color: #DA291C;
  min-height: 8vh;
  width: 100%;
}

.menuBtn>a {
  background-color: #DA291C;
  border-radius: 5px;
  color: white !important;
  text-align: center;
}

.menuBtn>div {
  background-color: #DA291C;
  color: white !important;
}

.ddItem:hover {
  background-color: grey;
}

.innerLink a:hover {
  text-decoration: none;
}

.innerLink > a, .innerLink > a:focus, .innerLink > a:active {
  color: white;
  text-decoration: none;
}

.links:hover, .links:active {
  color: grey;
}

.categoriesList {
  width: 20%;
  position: absolute;
  z-index: 1000;
  color: white;
  background-color: #DA291C;
}

.categoriesList > li {
  list-style: none;
  padding: 1rem;
  margin-left: -1rem;
  background-color: #DA291C;
}

.categoriesList > li:last-child {
  border-radius: 5px;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .bgColor {
    min-height: 12vh;
  }
}