.footerContainer {
  display: flex;
  flex-flow: row wrap;
  padding-top: 1rem;
  justify-content: space-evenly;
  background-color: #121212;
  color: white;
}

.socialContain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialNetworks{
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 4.5rem;
}

.containP p{
  text-align: center;
}

.socialNetworks img {
  width: 100%;
  align-content: center;
  
  
}