.footerContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #121212;
  color: white;
}

.socialNetworks{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 2.5rem;
  height: 3rem;
}

.socialNetworks img {
  width: 100%;
  
  
}